.footer-8 {
    background-color: #333!important;
    padding-top: 4px;
    padding-bottom: 20px;
    color: #fff
}

.footer-8 .row {
    margin: auto
}

.footer-8 .row:first-child {
    row-gap: 20px
}

.footer-8 h1 {
    color: var(--black);
    font-size: 36px;
    font-weight: 500
}

.footer-8 li {
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase
}

.footer-8 input {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black-light-3)!important;
    border-radius: 5px;
    padding: 12px 8px;
    box-shadow: 0 12px 16px var(--black-light-2)
}

.footer-8 input::placeholder {
    color: var(--black-light-2);
    font-size: 16px;
    font-weight: 300
}

.footer-8 button {
    background-color: var(--blue);
    color: var(--black);
    border: 1px solid var(--black-light-3);
    border-radius: 5px;
    padding: 12px 16px;
    box-shadow: 0 12px 16px var(--black-light-2)
}

.footer-8 .row:last-child>div>a:nth-child(1):hover {
    color: var(--fb)
}

.footer-8 .row:last-child>div>a:nth-child(2):hover {
    color: var(--twitter)
}

.footer-8 .row:last-child>div>a:nth-child(3):hover {
    color: var(--instagram)
}

.footer-8 .row:last-child>div>a:nth-child(4):hover {
    color: var(--youtube)
}

.footer-8 p {
    color: var(--black);
    font-size: 12px;
    font-weight: 400
}

.footer-8 a {
    text-decoration: none;
    color: #fff
}

.footer-8 a:hover {
    color: #fff
}

.mini-footer a {
    text-decoration: none;
    color: #fff;
    padding: 0 .5rem;
    border-right: 1px solid #fff;
    font-size: 12px
}

.mini-footer a:last-child {
    border-right: none
}